<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
    <% if (locals.usuario) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Agregar productos</h2>
            </div>

            <form class="nuestroForm" action="/patitos/add-product" method="post">
                <label class="form-label" for="foto">Nombre del Archivo de la Foto</label>
                <input class="form-input" type="text" name="foto" id="foto" value="nombre_imagen.jpg" required>
                <% if(locals.errors && locals.errors.foto) { %>
                    <div class="error"><%= locals.errors.foto.msg %></div>
                <% } %>
            
                <label class="form-label" for="producto">Nombre del Producto</label>
                <input class="form-input" type="text" name="producto" id="producto" value="Patito de Goma" required>
                <% if(locals.errors && locals.errors.producto) { %>
                    <div class="error"><%= locals.errors.producto.msg %></div>
                <% } %>
            
                <label class="form-label" for="descripcion">Descripción</label>
                <input class="form-input" type="text" name="descripcion" id="descripcion" value="Patito amarillo de goma, ideal para baños relajantes." required>
                <% if(locals.errors && locals.errors.descripcion) { %>
                    <div class="error"><%= locals.errors.descripcion.msg %></div>
                <% } %>
            
                <button class="buy-now-button buttonRegister" type="submit">Agregar Producto</button>
            </form>
            
        </div>
    </div>

    <%- include('./partials/footer') %>

</body>

</html>
