<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	
	<!-- /Header -->
	<%- include('./partials/header') %>

	<!-- product detail -->
	 <div class="container products-wrapper">
		
			<div class="d-flex align-items-center">
				<h2 class="products-title"><%= productos.nombre %></h2> 
				<p class="product-detail-description">
					<a href="/patitos/add-product">Editar</a>
				</p>
			</div>
		
		<div class="product-detail">
			<div class="row">
				
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%= productos.producto%>" alt="" class="product-detail-img">
						<p class="product-detail-description"><%= productos.descripcion%></p>
					</article>
				

				
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let index = 0; index < 4; index++) { %>
                            <article>
								<img src=<%=  productos%> alt="">
                                <div class="data">
                                    <p class="user">
                                        test
                                    </p>
                                </div>
                            </article>



						<% } %> 
					</section> 

				
					<form class="form" action="/patitos" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>
