<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<% if (locals.usuario) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
		</div>
	</div>
	<div class="container products-wrapper">
        <div class="row">
            <!-- Show the "ultimos" products -->
            <%for (let index = 0; index < resultados.length; index++) {%>
                <li class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <!-- <a href="/patitos/"> -->
                            <img src=<%= resultados[index].foto %>>
                            </figure>
                            <article class="product-box_data">
                                <h2><%= resultados[index].producto %></h2>
                                <p><%= resultados[index].descripcion %></p>
                                <!-- <p>Comentarios: <%= //resultados[index].comentarios %></p> -->
                            </article>
                        </a>
                    </section>
                </li>
            <%}%>
        </div>
    </div>


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->

	<script src= "/javascripts/searchResults.js" ></script>
</body>

</html>