<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
		</div>
	</div>
	<div class="container products-wrapper">
        <div class="row">
            <!-- Show the "ultimos" products -->
            <%for (let index = 0; index < 10; index++) {%>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <a href="/patitos">
                            <img class="fotoIndex" src=<%= productos[index].imagenProducto %>>
                            </figure>
                            <article class="product-box_data">
                                <h2><%= productos[index].nombre %></h2>
                                <p><%= productos[index].descripcion %></p>
                                <p>Comentarios: <%= productos[index].comentarios.length %></p>
                            </article>
                        </a>
                    </section>
                </div>
            <%}%>
        </div>
    </div>


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->

	<script src= "/javascripts/searchResults.js" ></script>
</body>

</html>